.page-container {
	width: 1080px;
	margin: 0 auto;
}

.game-container {
	height: 540px
}

.game-piece {
	width: calc(50% - 3rem);
	height: calc(270px - 3rem);
	list-style: none;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}
