body {
	margin: 0;
}

.page-container {
	width: 540px;
	margin: 0 auto;
}

.game-container {
	height: 270px;
	width: 270px;
	margin: 0;
	padding: 0;
}

.game-piece {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 135px;
	height: 135px;
	display: inline-block;
	float: left;
	list-style: none;
}

.game-piece--top-left {
	border-top-left-radius: 100%;
	background-color: #0f0;
}

.game-piece--top-right {
	border-top-right-radius: 100%;
	background-color: #f00;
}

.game-piece--bottom-left {
	border-bottom-left-radius: 100%;
	background-color: #ff0;
}

.game-piece--bottom-right {
	border-bottom-right-radius: 100%;
	background-color: #00f;
}

.game-piece__click {
	border: 5px solid #fff;
}